{% import 'macros/head.html' as macros_head -%}
{% import 'macros/nav.html' as macros_nav -%}
{% import 'macros/macros.html' as macros -%}
{% import 'macros/icons.html' as icons -%}
{% import 'macros/blog.html' as blog -%}

<!DOCTYPE html>
<html lang="{{ lang | default(value=config.default_language)}}">

<head>
  {% set favicon = resize_image(path=config.extra.favicon, format="png", width=32, height=32) %}
  <link rel="shortcut icon" href="{{ favicon.url }}" type="image/png">
  <link rel="icon" href="{{ favicon.url }}" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta charset="utf-8">

  <!-- Custom header for users, includes custom css or js here -->
  {% block user_head -%}
  {% endblock user_head -%}

  <title>{{ config.title }}</title>

  <style>
    .profile-social-icon svg,
    .profile-social-icon svg path {
      fill: #000000;
      stroke: #000000;
      transition: fill 150ms ease, stroke 150ms ease;
    }

    .profile-social-icon:hover svg,
    .profile-social-icon:hover svg path {
      fill: #6b7280;
      stroke: #6b7280;
    }
  </style>

  {% block head -%}
    {% block css -%}
      {{ macros_head::stylesheet() }}
    {% endblock css -%}

    {% block title -%}
      {% set section = load_data(path=current_path ~ "_index.md", metadata_only=true, required = false)  -%}
    {% endblock title -%}
  {% endblock head -%}
</head>

<body class="bg-white">
  <!-- Top nav bar -->
  {% block nav -%}
    {{ macros_nav::nav(website_title=config.title) }}
  {% endblock nav -%}
  <!-- Container -->
  {% block content -%}
  {% endblock content -%}
  <!-- <div class="sticky bottom-0 px-3">
    <a href="#page-top">Back to top of page</a>
  </div> -->
  {% block footer -%}
  {% endblock footer -%}
</body>

</html>
