{% extends "base.html" %}

{% block content %}
<div class="container max-w-4xl mx-auto px-4 py-8">
  <h1 class="font-bold font-sans break-normal text-center text-gray-900 text-3xl md:text-4xl">{{ section.title }}</h1>

  <ul class="text-sm leading-snug text-gray-800" style="list-style-type: disc; list-style-position: outside; margin: 3rem auto 0 auto; padding-left: 1.25rem; max-width: 42rem;">
    {% for page in section.pages %}
    <li style="padding-left: 0.5rem; margin-bottom: 1.5rem;">
      <div class="font-bold text-gray-900">
        {{ page.title }}
      </div>
      <div>
        {{ page.extra.description }}
        {% if page.extra.video %}
        <a class="text-blue-600 hover:text-blue-800" href="{{ page.extra.video }}" target="_blank" rel="noopener noreferrer">[video]</a>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
